@media print {
    .tab-content > .tab-pane,.pill-content > .pill-pane {
        display: block;
        width: 100%;
    }

    .tabContent {
        width: 100%;
        clear: both;
    }

    .closeButtonTopRight {
        display: none;
    }
}