{% extends '::base.html.twig' %}

{%  block contents %}
    {{ page }}

    <a id="bookmarkme" href="#" rel="sidebar" title="bookmark this page">Bookmark This Page</a>


    <br/>
    <a href="javascript:location.href='http://schooltrip/app_dev.php/contents/submit?page='                                 +encodeURIComponent(location.href)                                 +'&title='+encodeURIComponent(document.title)">
    Add page to schooltrip!
    </a>
{%  endblock  %}

{%  block javascripts %}
{{ parent() }}

    <script type="text/javascript">
        $(function() {
            $('#bookmarkme').click(function() {
                if (window.sidebar && window.sidebar.addPanel) { // Mozilla Firefox Bookmark
                    window.sidebar.addPanel(document.title,window.location.href,'');
                } else if(window.external && ('AddFavorite' in window.external)) { // IE Favorite
                    window.external.AddFavorite(location.href,document.title);
                } else if(window.opera && window.print) { // Opera Hotlist
                    this.title=document.title;
                    return true;
                } else { // webkit - safari/chrome
                    alert('Press ' + (navigator.userAgent.toLowerCase().indexOf('mac') != - 1 ? 'Command/Cmd' : 'CTRL') + ' + D to bookmark this page.');
                }
            });
        });
    </script>

{%  endblock %}