{% extends '::base.html.twig' %}
{% block full %}full {% endblock %}
{%  block contents %}
    <div class="row row-centered loginbox">
        <div class="col-xs-6 col-centered col-min">
            <div class="loginform">
                <form action="{{ path("fos_user_security_check") }}" method="post" data-toggle="validator">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <h3>Sign In</h3>
                    <div class="loginspan">
                        <div class="input-group loginput">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-user"></span>
							</span>
                            <input type="text" class="form-control" placeholder="Username" id="username" name="_username">
                        </div>
                        <a href="{{ path('fos_user_resetting_request') }}" class="forgotpass">Forgot your password?</a>
                        <span class="clearfix"></span>
                        <div class="input-group">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-lock"></span>
							</span>
                            <input type="password" class="form-control" placeholder="Password" id="password" name="_password"  type="password">
                        </div>
                        <button type="submit" class="btn signbutton" id="submit" name="_submit">Sign in</button>

                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}

